# HTTP SERVER
HOST=localhost
PORT=5000

# POSTGRES (DEVELOPMENT)
PGHOST=localhost
PGUSER=developer
PGDATABASE=forum_api
PGPASSWORD=password_kamu
PGPORT=5432

# POSTGRES (TEST)
PGHOST_TEST=localhost
PGUSER_TEST=tester
PGDATABASE_TEST=forum_api_test
PGPASSWORD_TEST=password_test_kamu
PGPORT_TEST=5432

# TOKENIZE
# Isi dengan random string yang panjang dan kuat
ACCESS_TOKEN_KEY=your_super_secret_access_token_key
REFRESH_TOKEN_KEY=your_super_secret_refresh_token_key
ACCESS_TOKEN_AGE=3000